{%extends 'layout.html'%}

{%block title%} Muro - MiniBlog {%endblock%}

{%block main%} 


<br>
 <!--empieza Post Main  -->
<div class=" my-1 mx-5 row border">
  <div class="col-12 col-sm-3 text-center">
    <p class="m-0">Luca P dice:</p>
    <img class="container rounded-circle  w-auto" style="height: 100px;" src="../static/img/luca_ico.jpg" alt="foto de perfil">
  </div>
  <div class="col-12 col-sm-9">
    <h4 class="">Título</h4>
    <hr class="m-0">
    <p class="">Contenido Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit quas quis fuga recusandae eveniet blanditiis consequuntur reiciendis eos, ex corrupti facere sit ratione, necessitatibus nihil vel, voluptate maiores facilis inventore?</p>
   <!-- BTN para el user -->
  <div class="d-flex justify-content-end mb-1">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg>
      </button>
      <button type="button" class="btn btn-outline-danger">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
        </svg>
      </button>
    </div>
  </div>

    <!-- Final Main -->
    <!-- Empieza Comentarios -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Ver Comentarios
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body row">
            <div class="col-12 col-sm-2 text-center">
              <p class="m-0">Luca P dice:</p>
              <img class="container rounded-circle  w-auto" style="height: 50px;" src="../static/img/luca_ico.jpg" alt="foto de perfil">
            </div>
            <p class="col-12 col-sm-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aut fuga, nemo rerum qui culpa reprehenderit quasi nam nisi maxime laborum esse voluptates officia cupiditate earum ut quod ea iure.</p>
            <!-- editar admin -->
            <div class="d-flex justify-content-end mb-1">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg>
                </button>
              </div>
            </div>

            <hr class="m-0">
          </div>
    <!-- Termina Comentarios -->
          <div class="d-flex justify-content-end mb-1">
             <a class="btn btn-primary ms-auto" href="#" role="button"> Agregar comentario</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!--  
<div class=" my-1 mx-5 row border">
  <div class="col-3 text-center">
    <p class="m-0">Luca P dice:</p>
    <img class="container rounded-circle  w-auto" style="height: 100px;" src="../static/img/luca_ico.jpg" alt="foto de perfil">
  </div>
  <div class="col-9">
    <h4 class="">Título</h4>
    <hr class="m-0">
    <p class="">Contenido Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit quas quis fuga recusandae eveniet blanditiis consequuntur reiciendis eos, ex corrupti facere sit ratione, necessitatibus nihil vel, voluptate maiores facilis inventore?</p>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Ver Comentarios
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body row">
            <div class="col-2 text-center">
              <p class="m-0">Luca P dice:</p>
              <img class="container rounded-circle  w-auto" style="height: 50px;" src="../static/img/luca_ico.jpg" alt="foto de perfil">
            </div>
            <p class="col-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aut fuga, nemo rerum qui culpa reprehenderit quasi nam nisi maxime laborum esse voluptates officia cupiditate earum ut quod ea iure.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->



{%endblock%}